<div class="sidebar">
  <div class="user-img">
    <img>
    <h2>*nombre*</h2>
  </div>
  <div class="contenido-sidebar">
    <ul>
      <li><a href="tecno-logix/admin/principal"><img src="/principal.png"><span>Inicio</span></a></li>
      <li><a href="tecno-logix/admin/partes"><img src="/partes.png"><span>Partes</span></a></li>
      <li><a href="tecno-logix/admin/proyectos"><img src="/proyectos.png"><span>Proyectos</span></a></li>
      <li><a href="tecno-logix/admin/imputaciones"><img src="/imputaciones.png"><span>Imputaciones</span></a></li>
      <li><a href="tecno-logix/admin/empleados"><img src="/emleados.png"><span>Empleados</span></a></li>
      <li><a href="tecno-logix/admin/clientes"><img src="/clientes.png"><span>Clientes</span></a></li>
      <li><a href="tecno-logix/admin/servicios"><img src="/servicios.png"><span>Servicios</span></a></li>
      <li><a href="tecno-logix/admin/sugerencias"><img src="/sugerencias.png"><span>Sugerencias</span></a></li>
      <li><a href="#"><img src="/logout.png"><span>Salir</span></a></li>
    </ul>
  </div>
  <div class="logo">
    <img src="/logo.png" width="120px" height="120px">
  </div>
</div>
