.sidebar-empleados body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: "Andada Pro", serif;
    background-color: #f4f9f4;
    text-transform: capitalize;
}

.sidebar-empleados h1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-empleados .sidebar {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 1rem;
    width: 16rem;
    height: 100vh;
    transition: 0.5s all;
}

.sidebar-empleados .logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-empleados h2.title {
    font-size: 31.42px;
    color: #74b49b;
    padding: 0 0 0 1rem;
}

.sidebar-empleados .burgerContainer {
    content: "";
    background-color: #74b49b;
    position: absolute;
    right: calc(-35px / 2);
    top: calc(9rem / 1.15);
    width: 35px;
    height: 35px;
    border-radius: 2rem;
    z-index: 1;
}

.sidebar-empleados .burgerTrigger {
    content: "";
    width: 35px;
    height: 35px;
    background-color: red;
    cursor: pointer;
    z-index: 6;
    opacity: 0;
    position: relative;
}

.sidebar-empleados .burgerMenu {
    content: "";
    background-color: #74b49b;
    position: relative;
    z-index: 1;
    width: 20px;
    height: 3px;
    border-radius: 2rem;
    bottom: calc(35px / 2);
    left: 0.45rem;
    transition: 0.5s all;
}

.sidebar-empleados .burgerMenu::after,
.sidebar-empleados .burgerMenu::before {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 2rem;
    transition: 0.5s all;
}

.sidebar-empleados .burgerMenu::after {
    top: 0.4rem;
    transform: translateY(-0.4rem) rotate(45deg);
}

.sidebar-empleados .burgerMenu::before {
    top: -0.4rem;
    transform: translateY(0.4rem) rotate(-45deg);
}

.sidebar-empleados .burgerContainer::after {
    content: "";
    position: absolute;
    right: 35px;
    top: calc(35px / 2);
    z-index: 0;
    width: calc(6rem + 15rem);
    background-color: #f2f2f2;
    height: 2px;
    transition: 0.5s all;
}

.sidebar-empleados .profileContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 0 0 0;
}

.sidebar-empleados img.profile {
    width: auto;
    height: 3rem;
}

.sidebar-empleados .profileContents {
    padding: 0 0 0 1rem;
    margin-top: 50px;
}

.sidebar-empleados p.name {
    padding: 0;
    margin: 0;
    font-size: 16.7px;
    color: #828282;
    text-transform: capitalize;
    font-weight: 800;
}

.sidebar-empleados .profileContents p {
    padding: 0;
    margin: 0;
    font-size: 13.9px;
    color: #828282;
    text-transform: lowercase;
}

.sidebar-empleados ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-empleados li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0.75rem 0;
    padding: 0.75rem 0;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

.sidebar-empleados li img {
    padding: 0 1rem 0 0.5rem;
}

.sidebar-empleados li a {
    text-decoration: none;
    color: #828282;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0 0.5rem;
}

.sidebar-empleados li.active {
    background-color: #f4f9f4;
}

.sidebar-empleados li.active a {
    color: #74b49b;
}

.sidebar-empleados li:hover {
    background-color: #f2f2f2;
    transition: 0.25s;
}

.sidebar-empleados .sidebar.active {
    width: 5rem;
    transition: 0.5s all;
}

.sidebar-empleados .logoContainer.active h2.title {
    opacity: 0;
}

.sidebar-empleados .burgerContainer.active .burgerMenu {
    background-color: #ffffff;
    transition: 0.5s all;
}

.sidebar-empleados .burgerContainer.active .burgerMenu::before,
.sidebar-empleados .burgerContainer.active .burgerMenu::after {
    transform: translateY(0rem) rotate(0deg);
    transition: 0.5s all;
}

.sidebar-empleados .sidebar.active .profileContainer .profileContents {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.sidebar-empleados .sidebar.active .contentsContainer a {
    opacity: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, width 0.5s ease;
}