<div class="sidebar">
  <div class="user-img">
    <img>
    <h2>*nombre*</h2>
  </div>
  <div class="contenido-sidebar">
    <ul>
      <li><a href="tecno-logix/fichaje"><img src="/fichar.png"><span>Fichar</span></a></li>
      <li><a href="tecno-logix/imputaciones-emp"><img src="/imputaciones.png"><span>Imputaciones</span></a></li>
      <li><a href="tecno-logix/proyectos-emp"><img src="/proyectos.png"><span>Proyectos</span></a></li>
      <li><a href="tecno-logix/sugerencias-emp"><img src="/sugerencias.png"><span>Sugerencias</span></a></li>
      <li><a href="#"><img src="/logout.png"><span>Salir</span></a></li>
    </ul>
  </div>
  <div class="logo">
    <img src="/logo.png" width="120px" height="120px">
  </div>
</div>
